<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css/css">
    <include path="~/Content/css/bootstrap.min.css" />    
    <include path="~/Content/css/bootstrap-multiselect.css" />
    <include path="~/Content/css/bootstrap-treeview.css" />
    <include path="~/Content/css/bootstrap-toggle.min.css" />
    <include path="~/Content/css/bootstrap-datetimepicker.css" />    
    <include path="~/Content/css/bootstrap-select.min.css" />    
    <include path="~/Content/css/mensajeria.css" />
    <include path="~/Content/css/styles.css" />
  </styleBundle>
  <styleBundle path="~/Content/css">
    <include path="~/Content/font-awesome.min.css" />
  </styleBundle>
</bundles>