<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<securityConfiguration defaultAuthorizationInstance="" defaultSecurityCacheInstance="" /> 
	<connectionStrings>
		<!--<add connectionString="Server=DTP-MEU-TSQL002.CORP.DOLE.COM;Database=DOLESecurityHRIS_DEV2;Integrated Security=true" name="DOLESeguridad" providerName="System.Data.SqlClient" />
		<add connectionString="Server=DTP-MEU-TSQL002.CORP.DOLE.COM;Database=HRIS_Dev;Integrated Security=true" name="HRISConnectionString" providerName="System.Data.SqlClient" />
		<add name="AHRISLocalServiceConnectionString1" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString4" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS_DHN;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString5" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS_ECU;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString9" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString11" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString14" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString15" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />
		<add name="AHRISLocalServiceConnectionString16" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Integrated Security=true;Initial Catalog=AHRIS;Data Source=DTP-MEU-TSQL002.CORP.DOLE.COM;" />-->

    <add name="HRISConnectionString" providerName="Microsoft.Data.SqlClient" connectionString="Server=tcp:dtp-meu-paas-sqlpayrolldev.public.5c9a606f8794.database.windows.net,3342;Initial Catalog=HRIS_V2;Encrypt=True;TrustServerCertificate=False;Connection Timeout=300;Authentication=Active Directory Default;" />
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<appSettings>
		<add key="ConnectionStringForErrorLog" value="HRISConnectionString" />

		<!--Work flow HRIS -->
		<add key="UrlWorkFlow" value="http://localhost:64351/api" />

		<add key="DominioUsuarioConsultaAD" value="CORP" />
		<add key="DominioConsultaAD" value="CORP" />

		<!-- Parameters Generals -->
		<add key="ActivarFichaInternet" value="false" />
		<add key="EmailSubjectPrefix" value="DESARROLLO" />
		<add key="EmailUsePassword" value="true" />
		<add key="EmailPort" value="25" />
		<add key="MaxNumberErrorsReportedInExcelLoad" value="2" />
		<add key="MinGradeOfApprovalForLogbooks" value="70" />
		<add key="PageSize" value="10" />
		<add key="PreloadSocialResponsibilityCatalogs" value="1" />
		<add key="PruebasDeUsuario" value="0" />
		<add key="RowsByGridPage" value="10" />
		<add key="ServiceTimeout" value="390" />
		<add key="ServiceTimeoutHours" value="0" />
		<add key="ServiceTimeoutMinutes" value="30" />
		<add key="ServiceTimeoutSeconds" value="30" />
		<add key="SupervisorCode" value="1" />
		<add key="SurveyVersion" value="3" />
		<add key="ValidatorCode" value="2" />
		<add key="WebAppIsLocal" value="0" />
		<add key="WebAppUserOutDomian" value="no" />
		<add key="LastValidationAcademicDegree" value="12" />
		<add key="SecurityDBVersion" value="2" />
		<add key="UrlNotificacionService" value="https://devdcrnotificationmanager.azurewebsites.net/" />
		<add key="UrlTokenEndpoint" value="https://login.microsoftonline.com/" />
		<!--OverTime Module-->
		<add key="SQLEmailProfileName" value="HRISMail" />
		<add key="ValidatorEmail" value="false" />
		<add key="SupervisorEmail" value="false" />
		<add key="PendingOvertimeStatusCode" value="1" />
		<add key="ApprovedOvertimeStatusCode" value="2" />
		<add key="RejectedOvertimeStatusCode" value="3" />
		<add key="PendingByValidatorsOvertimeStatusCode" value="4" />

    <!--Entra ID Info-->
    <add key="ClientId" value="c1fefb4d-8939-49a1-855d-ddb1094437bc" />
    <add key="Authority" value="https://login.microsoftonline.com/9e3a2f3f-7287-4942-8d91-bb5815cdf256/v2.0" />
    <add key="RedirectUri" value="https://localhost:44380/signin-oidc" />
    <add key="PostLogoutRedirectUri" value="https://localhost:44380/signout-callback-oidc" />
    <add key="owin:appStartup" value="HRISWeb.Startup" />
    <add key="UrlKeyVault" value="https://lsp-dtp-payslipdevsb-vlt.vault.azure.net/" />
	</appSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<httpHandlers>
			<add verb="*" path="IStructByCompanies.ashx" type="HRISWeb.UserControls.Handler.IStructByCompanies" />
			<add verb="*" path="IStructByCostCenterByStructByFarm.ashx" type="HRISWeb.UserControls.Handler.IStructByCostCenterByStructByFarm" />
			<add verb="*" path="IStructByCostCenterByStructByNominalClass.ashx" type="HRISWeb.UserControls.Handler.IStructByCostCenterByStructByNominalClass" />
			<add verb="*" path="IStructByCostFarms.ashx" type="HRISWeb.UserControls.Handler.IStructByCostFarms" />
			<add verb="*" path="IStructByCostMiniZones.ashx" type="HRISWeb.UserControls.Handler.IStructByCostMiniZones" />
			<add verb="*" path="IStructByCostZones.ashx" type="HRISWeb.UserControls.Handler.IStructByCostZones" />
			<add verb="*" path="IStructByNominalClass.ashx" type="HRISWeb.UserControls.Handler.IStructByNominalClass" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<globalization culture="es-CR" uiCulture="es-CR" />
		<pages buffer="true" enableSessionState="true" enableViewState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<!--<controls>
				<add namespace="DOLE.Seguridad.Intranet" assembly="DOLE.Seguridad.Intranet" tagPrefix="DOLESEG" />
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.Button" mappedTagType="DOLE.Seguridad.Intranet.ButtonBitacora, DOLE.Seguridad.Intranet, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.LinkButton" mappedTagType="DOLE.Seguridad.Intranet.LinkButtonBitacora, DOLE.Seguridad.Intranet, Version=1.0.0.0" />
			</tagMapping>-->
		</pages>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<expressionBuilders>
				<add expressionPrefix="Code" type="HRISWeb.CodeExpressionBuilder" />
			</expressionBuilders>
		</compilation>
		<customErrors mode="Off" defaultRedirect="~/ErrorPages/Error405.html" />
		<machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
		<!--<membership defaultProvider="DOLEProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add connectionStringName="DOLESeguridad" writeExceptionsToEventLog="false" applicationName="HRIS" applicationDescription="Human Resources Information System" passwordFormat="Hashed" name="DOLEProvider" type="DOLE.Seguridad.Membership.DOLEMembershipProvider" PaginaErrorAcceso="~/ErrorPages/Error403.html" />
			</providers>
		</membership>
		<roleManager defaultProvider="DOLERoleProvider" enabled="true" cacheRolesInCookie="false" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="DOLERoleProvider" type="DOLE.Seguridad.Roles.DOLERoleProvider" connectionStringName="DOLESeguridad" writeExceptionsToEventLog="false" />
			</providers>
		</roleManager>-->
		<sessionState timeout="20" />
	</system.web>

  <system.web>
    <httpCookies requireSSL="true"/>
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
  <location path="signin-oidc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="ErrorPages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
	<system.web>
		<httpRuntime targetFramework="4.6.1" maxRequestLength="2097151" executionTimeout="999999" requestLengthDiskThreshold="49150" />
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
    
		<directoryBrowse enabled="false" />
    
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="FormsAuthentication"/>
    </modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      
      <add name="OidcCallback" path="signin-oidc" verb="*" type="System.Web.DefaultHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      
    </handlers>
	</system.webServer>
	<runtime xmlns="">
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.47.1.0" newVersion="1.47.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>