<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add connectionString="__ConnStringDoleSecurity__" name="DOLESeguridad" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS__" name="HRISConnectionString" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
		<add connectionString="__ConnStringHRIS1__" name="AHRISLocalServiceConnectionString1" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS4__" name="AHRISLocalServiceConnectionString4" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS5__" name="AHRISLocalServiceConnectionString5" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS9__" name="AHRISLocalServiceConnectionString9" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS11__" name="AHRISLocalServiceConnectionString11" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS14__" name="AHRISLocalServiceConnectionString14" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS15__" name="AHRISLocalServiceConnectionString15" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add connectionString="__ConnStringHRIS16__" name="AHRISLocalServiceConnectionString16" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="ConnectionStringForErrorLog" value="HRISConnectionString" />
		
		<add key="DominioUsuarioConsultaAD" value="__UserDomainValue__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DominioConsultaAD" value="__DomainValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		
		<!--Work flow HRIS -->
		<add key="UrlWorkFlow" value="__UrlWorkFlow__" />

		<!-- Parameters Generals -->
		<add key="ActivarFichaInternet" value="__ActivarFichaInternetValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="EmailSubjectPrefix" value="__EmailSubjectPrefixValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="EmailUsePassword" value="__EmailUsePasswordValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="EmailPort" value="__EmailPortValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="MaxNumberErrorsReportedInExcelLoad" value="__MaxNumberErrorsReportedInExcelLoadValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="MinGradeOfApprovalForLogbooks" value="__MinGradeOfApprovalForLogbooksValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="PageSize" value="__PageSizeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="PreloadSocialResponsibilityCatalogs" value="__PreloadSocialResponsibilityCatalogsValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="PruebasDeUsuario" value="__PruebasDeUsuarioValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="RowsByGridPage" value="__RowsByGridPageValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ServiceTimeout" value="__ServiceTimeoutValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ServiceTimeoutHours" value="__ServiceTimeoutHoursValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ServiceTimeoutMinutes" value="__ServiceTimeoutMinutesValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ServiceTimeoutSeconds" value="__ServiceTimeoutSecondsValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="SupervisorCode" value="__SupervisorCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="SurveyVersion" value="__SurveyVersionValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ValidatorCode" value="__ValidatorCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="WebAppIsLocal" value="__WebAppIsLocalValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="WebAppUserOutDomian" value="__WebAppUserOutDomianValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="LastValidationAcademicDegree" value="__LastValidationAcademicDegreeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="SecurityDBVersion" value="__SecurityDBVersionValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="UrlNotificacionService" value="__UrlNotificacionServiceValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="UrlTokenEndpoint" value="__UrlTokenEndpointValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />

		<!--OverTime Module-->
		<add key="SQLEmailProfileName" value="__SQLEmailProfileNameValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ValidatorEmail" value="__ValidatorEmailValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="SupervisorEmail" value="__SupervisorEmailValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="PendingOvertimeStatusCode" value="__PendingOvertimeStatusCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="ApprovedOvertimeStatusCode" value="__ApprovedOvertimeStatusCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="RejectedOvertimeStatusCode" value="__RejectedOvertimeStatusCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="PendingByValidatorsOvertimeStatusCode" value="__PendingByValidatorsOvertimeStatusCodeValue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
	</appSettings>

	

	<location path="Cargas">
		<system.web>
			<authorization>
				<allow users="" xdt:Transform="Replace" />
			</authorization>
		</system.web>
	</location>
</configuration>